.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 1;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
}

.counter {
    display: flex;
    align-items: center;
}

.decrement,
.increment {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.counter-value {
    margin: 0 10px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #555;
}




body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 204, 0, 0.5); /* background color */
    background-image: linear-gradient(to right, #ffdc52, #ffcc00 , #ffdc52); /* BACKGROUND GRADIENT */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #000000;
    font-family: 'varsity_regular'; 
    font-size: 125%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
.header h1 {
    color: #ffd000;
    margin: 0;
}

.menu-button {
    background-color: #ffffff;
    border: none;
    color: #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    width: 6%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-button:hover {
    background-color: #ffcc00;
    color: #000;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 220px; /* change the width for menu */
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu.open {
    left: 0;
} 

.menu button {
    background-color: #ffffff;
    color: #141414;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu button:hover {
    background-color: #ffd000;
    color: #000000;
}

.menu button:focus {
    outline: none;
    background-color: #ffd000;
    color: #000;
}

.menu button:first-child {
    border-top-left-radius: 10px;
}

.menu button:last-child {
    border-bottom-left-radius: 10px;
}

/* Overlay styles */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999; /* Just below the menu */
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999; /* Just below the menu */
}


.overlay.show {
    opacity: 1;
    visibility: visible;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}



.counter {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter label {
    flex: 1;
    font-weight: bold;
    cursor: auto;
}
.counter input, .counter textarea, .counter select {
    flex: 2;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}
.counter input[type="number"] {
    max-width: 80px;
    text-align: center;
}
.counter .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
}
.counter .btn:disabled {
    background-color: #e0e0e0;
}
.counter textarea {
    height: 100px;
    font-family: 'vasity_regular';
}
button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-end;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.team-number {
    cursor: pointer;
    color: rgb(75, 75, 255);
    /* text-decoration: underline; */
    text-align: center;
}

.delete-button {
    text-align: left;
    align-items: center;
    background-color: red;
    color: white;
    border: none;
    padding: 2px 1px;
    cursor: pointer;
    width: 60px;
    
}

.delete-button:hover {
    background-color: darkred;
}

#footer img {
    margin-left: 2%;
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}


button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-end;
    transition: 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.previous-scoutings {
    display: none;
    flex-direction: column;
}

.previous-scoutings table {
    width: 100%;
    border-collapse: collapse;
}

.previous-scoutings th, .previous-scoutings td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.previous-scoutings th {
    background-color: #f0f0f0;
}


.delete-button {
    background-color: #ff0000; /* Red background color */
    color: white; /* White text color */
    border: none;
    padding: 5px 10px; /* 5px top/bottom padding, 10px left/right padding */
    cursor: pointer;
    font-size: 14px; /* Font size of 14 pixels */
    transition: 0.3s ease;
}

.delete-button:hover {
    background-color: #cc0000; /* Darker red on hover */
    color: white; /* White text color */
}

.sign {
    text-align: center;
}

.coop {
    text-align: right;
}


.input-group input[type="checkbox"] {
    float: right;
    width: 4em;
    height: 1.5rem;
    accent-color: #007bff;
    text-align: right;
    max-width: 170px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: white;
}

th {
    background-color: #f2f2f2;
}

.team-number {
    cursor: pointer;
    color: rgb(75, 75, 255);
    /* text-decoration: underline; */
    text-align: center;
    transition: 0.2s ease;
}

.team-number:hover {
    color:rgb(15, 15, 255)
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: auto;
    height: auto;

}

.delete-button:hover {
    background-color: darkred;
}

.delete-button img {
    height: 25px;
    width: 30px;
}

#deleteB {
    width: 10px;
}

#footer img {
    margin-left: 2%;
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}


#submit {
    margin-top: 20px;
    margin-left: 9px;
}





.previous-scoutings {
    display: flex;
    flex-direction: column;
}

.previous-scoutings table {
    width: 100%;
    border-collapse: collapse;
}

.previous-scoutings th, .previous-scoutings td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.previous-scoutings th {
    background-color: #f0f0f0;
}


#scouting-table tr:nth-child(odd) td{
    background-color: #ffffff !important;
}

#scouting-table tr:nth-child(even) td{
    background-color: #f0f0f0 !important;
}

#export-button {
    margin-top: 1%;
    background-color: #1a1a1a;
    height: auto;
    width: auto;
}

#export-button:hover {
    background-color: #333;
    transition: 0.5s ease;
}

#export-button img {
    height: 15px;
    margin-right: 8px;
}

@media (max-width: 700px) {
    .menu {
        width: 100%;
    }

    .menu-button {
        left: 50%;
        transform: translateX(-50%);
    }

    .container {
        padding: 10px;
    }

    .columns {
        flex-direction: column;
        margin: 0;
    }

    .column {
        margin-bottom: 15px;
    }
}

@media (min-width: 1700px) {
    body {
        font-size: large;
    }
    .header {
        font-size: 133%;
    }
    .menu-button {
        font-size: 24px;
    }
    .menu button {
        background-color: #ffffff;
        color: #141414;
        border: none;
        padding: 15px 20px;
        cursor: pointer;
        text-align: left;
        width: 100%;
        font-size: 20px;
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .menu {
        width: 250px; /* change the width for menu */
    }
    #footer img {
        margin-left: 2%;
        height: auto;
        width: auto;
        max-height: 120px;
        max-width: 120px;
    }

}