body {
    /* font-family: Arial, sans-serif; */
    font-family: 'League Spartan';
    background-color: rgba(255, 204, 0, 0.5); /* background color */
    background-image: linear-gradient(to right, #ffdc52, #ffcc00 , #ffdc52); /* BACKGROUND GRADIENT */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #000000;
    font-family: 'varsity_regular'; 
    font-size: 125%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
.header h1 {
    color: #ffd000;
    margin: 0;
}

.menu-button {
    background-color: #ffffff;
    border: none;
    color: #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    width: 6%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-button:hover {
    background-color: #ffcc00;
    color: #000;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 220px; /* change the width for menu */
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu.open {
    left: 0;
} 

.menu button {
    background-color: #ffffff;
    color: #141414;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu button:hover {
    background-color: #ffd000;
    color: #000000;
}

.menu button:focus {
    outline: none;
    background-color: #ffd000;
    color: #000;
}

.menu button:first-child {
    border-top-left-radius: 10px;
}

.menu button:last-child {
    border-bottom-left-radius: 10px;
}









/* Style the grid to display rectangular cards */
#teams-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); /* Less number of items per row */
    gap: 10px; /* Space between the boxes */
    row-gap: 30px;
    padding: 30px 80px; /* Add space on the left and right */
    margin-bottom: auto;
}

/* Team card styling with adjusted dimensions */
.team-card {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    height: 95%; /* Adjust height */
    width: 85%;
    transition: 0.4s ease;
}

.team-card:hover {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5); /*Shadow*/
    transition: 0.3s ease;
}

/* Align the team number */
.team-card h2 {
    font-size: 16px;
    margin: 0;
    color: #333;
    text-align: left;
    padding-bottom: 10px; /* Add more space between the number and button */
}

/* Style the button under the team number */
.team-card button {
    padding: 7px 12px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 12px;
    margin-top: auto; /* Ensure button stays below the team number */
    align-self: flex-start; /* Align button to the left */
}

.team-card button:hover {
    background-color: #333;
}




/* Footer Wrapper */
footer {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;


    position: relative;
    margin-top: auto; /* Push to the bottom */

    width: 100%;
    text-align: center;
}

#footer img {
    position: relative;
    margin-left: 2%;
    bottom: 2%;
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}

.sign {
    position: relative;
    bottom: 1%;
    text-align: center;
    right: 3%;
}



@media (min-width: 1700px) {
    body {
        font-size: larger;
    }
    .menu-button {
        font-size: 24px;
    }
    .menu button {
        background-color: #ffffff;
        color: #141414;
        border: none;
        padding: 15px 20px;
        cursor: pointer;
        text-align: left;
        width: 100%;
        font-size: 20px;
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .menu {
        width: 250px; /* change the width for menu */
    }
    #teams-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); /* Less number of items per row */
        gap: 50px; /* Space between the boxes */
        row-gap: 40px;
        padding: 30px 80px; /* Add space on the left and right */
        margin-bottom: auto;
    }
    
    /* Team card styling with adjusted dimensions */
    .team-card {
        height: 105%; /* Adjust height */
        width: 100%;
    }
    .team-card:hover {
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.7); /*Shadow*/
    }
    .team-card h2 {
        font-size: 20px;
        margin: 0;
        color: #333;
        text-align: left;
        padding-bottom: 10px; /* Add more space between the number and button */
    }
    
    /* Style the button under the team number */
    .team-card button {
        padding: 7px 12px;
        background-color: #000;
        color: white;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        font-size: 16px;
        margin-top: auto; /* Ensure button stays below the team number */
        align-self: flex-start; /* Align button to the left */
    }
    #footer img {
        margin-left: 2%;
        height: auto;
        width: auto;
        max-height: 120px;
        max-width: 120px;
    }
    .sign {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: large;
    }
    

}